# Token do bot criado no Discord Developer Portal
DISCORD_TOKEN=

# ID do canal onde os novos updates serão enviados
UPDATE_CHANNEL_ID=

# ID do canal onde a mensagem principal de status será mantida
STATUS_CHANNEL_ID=

# URL da pagina de updates/anuncios do Kookie
KOOKIE_UPDATE_URL=https://kookie.app/announcements

# URL principal usada para verificar se o Kookie esta online ou offline
KOOKIE_STATUS_URL=https://kookie.app

# URI de conexao com o MongoDB 
MONGO_URI=mongodb+srv://usuario:senha@cluster.mongodb.net/

# Nome do banco que sera usado pelo bot (pode ser qualquer nome)
MONGO_DB=kookiechan

# Coleção principal de estado do status atual do Kookie (online/offline)
MONGO_STATUS_COLLECTION=status

# Coleção principal onde os updates encontrados serão armazenados 
MONGO_UPDATE_COLLECTION=updates

# Coleção de logs historicos das verificações de status
MONGO_STATUS_LOGS_COLLECTION=status_logs

# Coleção de arquivamento de historico antigo de status
MONGO_STATUS_ARCHIVE_COLLECTION=status_archive

# Coleção de arquivamento de updates
MONGO_UPDATE_ARCHIVE_COLLECTION=updates_archive
